https://{$UI_BIND_ADDRESS}:8443 {
    tls internal
    encode zstd gzip
    reverse_proxy ui:8501
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }
}
